<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.BizWarehouseProductMapper">
    
    <resultMap type="BizWarehouseProduct" id="BizWarehouseProductResult">
        <result property="id"    column="id"    />
        <result property="productId"    column="product_id"    />
        <result property="modelId"    column="model_id"    />
        <result property="wId"    column="w_id"    />
        <result property="place"    column="place"    />
        <result property="currentCnt"    column="current_cnt"    />
        <result property="lockCnt"    column="lock_cnt"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBizWarehouseProductVo">
        select id, product_id, model_id, w_id, place, current_cnt, lock_cnt, create_by, create_time, update_by, update_time, remark from biz_warehouse_product
    </sql>

    <select id="selectBizWarehouseProductList" parameterType="BizWarehouseProduct" resultMap="BizWarehouseProductResult">
        <include refid="selectBizWarehouseProductVo"/>
        <where>  
            <if test="productId != null "> and product_id = #{productId}</if>
            <if test="modelId != null "> and model_id = #{modelId}</if>
            <if test="wId != null "> and w_id = #{wId}</if>
            <if test="place != null  and place != ''"> and place = #{place}</if>
            <if test="currentCnt != null "> and current_cnt = #{currentCnt}</if>
            <if test="lockCnt != null "> and lock_cnt = #{lockCnt}</if>
        </where>
    </select>
    
    <select id="selectBizWarehouseProductById" parameterType="Integer" resultMap="BizWarehouseProductResult">
        <include refid="selectBizWarehouseProductVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBizWarehouseProduct" parameterType="BizWarehouseProduct" useGeneratedKeys="true" keyProperty="id">
        insert into biz_warehouse_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">product_id,</if>
            <if test="modelId != null">model_id,</if>
            <if test="wId != null">w_id,</if>
            <if test="place != null">place,</if>
            <if test="currentCnt != null">current_cnt,</if>
            <if test="lockCnt != null">lock_cnt,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null">#{productId},</if>
            <if test="modelId != null">#{modelId},</if>
            <if test="wId != null">#{wId},</if>
            <if test="place != null">#{place},</if>
            <if test="currentCnt != null">#{currentCnt},</if>
            <if test="lockCnt != null">#{lockCnt},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBizWarehouseProduct" parameterType="BizWarehouseProduct">
        update biz_warehouse_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="productId != null">product_id = #{productId},</if>
            <if test="modelId != null">model_id = #{modelId},</if>
            <if test="wId != null">w_id = #{wId},</if>
            <if test="place != null">place = #{place},</if>
            <if test="currentCnt != null">current_cnt = #{currentCnt},</if>
            <if test="lockCnt != null">lock_cnt = #{lockCnt},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizWarehouseProductById" parameterType="Integer">
        delete from biz_warehouse_product where id = #{id}
    </delete>

    <delete id="deleteBizWarehouseProductByIds" parameterType="String">
        delete from biz_warehouse_product where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>